.navbar {
  position: relative;
  text-align: center;
  align-content: center;
  overflow: hidden;
  padding: 20px;
  background-color: #ba4100;
}

* {
  box-sizing: border-box;
}

.avatar{
  border-radius: 50%;
}

@font-face { font-family: Jost; src: url('Jost.ttf'); } 

.item {
  text-align: center;
  font-family: "Jost";
  text-decoration: none;
  padding: 46px 50px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.right-align{
  text-align: start;
  align-content: flex-start;
}

a{
  font-family: "Jost";
  color:#ff0000; 
  text-decoration:underline;
  cursor: pointer;
}

.flex2{
  display: flex;
  flex-wrap: wrap;
}

.leftside{
  flex: 10%;
  text-align: flex-start;
  padding-right: 20px;
}

.rightside{
  flex: 0%;
  height: 200px;
  align-self: flex-end;
  text-align: end;
  padding-left: 20px;
}


.about{
  background-color: #26262b;
  text-align: center;
  font-family: "Jost";
  flex: 30%;
  padding: 0px 20px;
  color: white;
  animation-duration: 2s;
  animation-name: slideup;
}

.about p{
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.half1{
  width: 50%;
  float: left;
  padding: 2px;
}

.half2{
  width: 50%;
  float: right;
  padding: 2px;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
}

.header{
  flex: 70%;
  color: white;
  font-family: "Jost";
  padding: 0px 20px;
  animation-duration: 2s;
  animation-name: slideup;
}

.header h1{
  text-align: center;

}

.project h2{
  color: white;
  text-decoration: underline;
}

.project p{
  color: white;
  font-size: 145%;
}

/* @keyframes slideup {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

@media screen and (max-width: 700px) {
  .main-content {   
    flex-direction: column;
  }
}

body{
  background-color: #ff6a1f;
  margin: 0;
}

.footer{
  display: flex;
  background-color: #ba4100;
}

.footer a{
  align-self: start;
  color: #00ff00;
}

.footer p{
  align-self: end;
  color: white;
}

hr{
  color: white;
}